.headings {
  display: flex;
}

.headings > .heading {
  flex: 1 0;
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
}

.table-row {
  display: flex;
}

.table-row:hover {
  cursor: pointer;
}

.table-row > div {
  flex: 1 0;
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
}
